*
{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}
body
{
    background-color: rgb(146, 207, 188);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.heading
{
    color: rgb(7, 7, 7);
    background-color: rgb(185, 148, 214);
    height: fit-content;
    width: fit-content;
    padding: 50px;
    border-radius:  60px 10px 60px 10px ;
    box-shadow: 5px 5px 5px 5px white;
    text-align: center;
}
.button{
    border: none;
    outline:none;
    margin:15px;
    color:white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px;
    cursor: pointer;

}